{{>head}}
<h1>Create</h1>
<form action="/createTodo" method="POST">
    <div class="input-field">
        <input type="text" name="title" placeholder="Todo title">
    </div>
    <button class="btn waves-effect waves-light" type="submit">Create</button>
</form>